$border: 2px; // Replace 2px with your desired border size

.navbar {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
.navbar-1,
.header {
  background: rgb(250, 249, 255);
  background: linear-gradient(
    304deg,
    rgba(250, 249, 255, 1) 0%,
    rgba(255, 255, 255, 1) 17%,
    rgba(245, 253, 255, 1) 46%,
    rgba(234, 231, 255, 1) 100%
  );
}
.trending {
  border-radius: 15%;
}
.fire-emoji::before {
  content: "🔥 ";
}
.rocket-emoji::before {
  content: "🚀 ";
}
.diamond-emoji::before {
  content: "💎 ";
}
.navbar-brand {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 800;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}
.navbar-toggler {
  border: none !important;
}

.big-heading {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}

@media (min-width: 992px) {
  .alignment {
    text-align: left !important;
  }
}

.first-gradient {
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second-gradient {
  background: linear-gradient(136.91deg, #468ef9 -12.5%, #0c66ee 107.5%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  position: relative;
}
.gradient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
}

.buy-trade-margin {
  margin-top: 10%;
}
.buy-trade-img {
  width: 543.22px;
  height: 536px;
}

.sphere {
  position: absolute;
  width: 380px;
  height: 380px;
  left: 30%;
  top: 25%;
  z-index: -1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.trending .border-radius {
  background-color: #fff;
  border-radius: 55px;
}
.trending a {
  text-decoration: none;
}

.buy-trade-margin input {
  padding: 15px 20px;
  width: 50%;
  border: double 2px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, orange, yellow);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  // Header styling
}
.select {
  padding: 15px 5px;
  width: 120px;
  border: double 2px;
  border-radius: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, orange, yellow);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.trusted {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) -9.25%,
    rgba(255, 255, 255, 0.6) -9.25%,
    rgba(244, 249, 255, 0.7) 108.74%
  );
}
.cards {
  position: relative;
}

.card1 {
  position: absolute;
  left: 35%;
}
.card2 {
  position: absolute;
  left: 15%;
}
.card3 {
  position: absolute;
  left: -5%;
}
.check {
  color: #2f7cf0;
}

.star {
  position: absolute;
  left: 8%;
  bottom: 75%;
}
.accordion-button {
  padding-left: 0px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
}
.accordion-button:focus {
  box-shadow: none;
}

.top-button {
  background-color: #fafafa;
  color: #666666;
  border: 1px solid #dddddd;
  border-radius: 8px;
  width: max-content;
}

.footer {
  margin-top: 6rem;
  color: #666666;

  a {
    color: #666666;
    text-decoration: none;
  }
}
.lines {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 0px;
}
.border-right {
  border-bottom: 0.8px solid #dddddd;
  border-right: none;

  @media (min-width: 992px) {
    border-bottom: none;
    border-right: 0.8px solid #dddddd;
  }
}
.columns {
  padding-top: 25px;
  padding-bottom: 25px;
  @media (min-width: 992px) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
